* {
    margin: 0;
}

html,
body {
    /* height: 100%; */
    font-family: "Roboto", sans-serif;
}

html {
    background-color: #3bb8ff;
}

body {}

main {
    background-color: #3bb8ff;
}

.header {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    margin: 30px auto;
    justify-content: space-between;
    width: 90%
}

.waxxer-intro {
    margin: 30px auto;
    font-size: 18px
}

.waxxer-body {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

.container {
    max-width: 1000px;
}

.icon {
    height: 50px;
    width: 50px
}

.github-icon {
    height: 55px;
    width: 65px
}

.button-div {
    margin-top: 25px
}

.waxxer-form {
    /* max-width: 700px !important */
    margin: 0 auto
}

.flex-form {
    /* display: flex; */
}

.wrapper img {
    width: 100%;
    bottom: 0;
    position: absolute;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    -moz-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -99999;
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
    width: 100%
    /* the bottom margin is the negative value of the footer's height */
}

.skiMoraleDiv {
    /* border: 1px solid #aaa; */
    padding: 5px;
    margin: 15px auto;
    background-color: #fff
}

.footer,
.push {
    height: 142px;
    /* .push must be the same height as .footer */
}

.github-fork-ribbon:before {
    background-color: #007bff !important;
}

.hideUnderConstruction {
    display: none;
}

.zipcode {
    width: 150px
}

.tempsFandC {
    display: flex;
}

span.wax-color {
    font-size: 20px;
}

span.wax-waterskis {
    color:
}

span.wax-red {
    color: red;
}

span.wax-violet {
    color: indigo;
}

span.wax-blue {
    color: dodgerblue;
}

span.wax-green {
    color: forestgreen;
}

span.wax-polar {
    color: darkslategrey;
}


/* AERIS API CHALLENGE CSS */


/* I: CONDITIONS */

#conditions {
    font-family: 'Roboto', sans-serif;
    margin: 30px auto;
    /* padding: 15px; */
    width: 100%;
}

#conditions p {
    margin: 0;
}

#conditions .cols {
    display: flex;
    flex-direction: column;
}

#conditions .details .row {
    display: flex;
}

#conditions .cols>div {
    /* flex-basis: 0; */
    margin: 0 5px;
}

#conditions .temp,
.tempC {
    font-size: 30px;
    margin: 0 5px;
}

#conditions .temp span,
.tempC span {
    font-size: 30px;
    font-weight: normal;
    padding-left: 6px;
}

#conditions .details {
    font-size: 14px;
}

#conditions .details .row>div {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 5px;
    width: 100px;
}

#conditions .details .row {
    margin: 6px 0;
    border-bottom: 1px solid #999;
}

#conditions .details .row div:last-child {
    font-size: 16px;
    /* font-weight: bold; */
}

#conditions .timestamp {
    color: #000;
    font-size: 14px;
    margin-bottom: 8px;
}

#conditions .wx {
    font-size: 16px
}

#obs .icon {
    margin: 0 20px;
    width: 100px;
}

#obs .wx {
    border-top: 2px solid #ddd;
    font-size: 18px;
    margin-top: 8px;
    padding-top: 10px;
    width: 150px;
}


/* II: FORECAST */

#forecast {
    color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    margin: 10px auto;
    /* width: 600px; */
}

#forecast p {
    margin: 0;
}

#forecast .card {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 5px;
}

#forecast .card-body {
    background: #fff;
    border: 1px solid #999;
    /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); */
    padding: 10px;
    text-align: center;
}

#forecast .card .title {
    font-size: 14px;
    font-weight: bold;
}

#forecast .card .icon {
    margin: 10px 0 5px;
    width: 60px;
}

#forecast .card .wx {
    font-size: 12px;
}

#forecast .card .temps {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

#forecast .card .temps span {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    padding-right: 6px;
}