html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

main {
    background-color: #ddd;
    height: 150%;
}

.header {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    margin: 30px auto;
    justify-content: space-between;
    width: 90%
}

.waxxer-header {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin: 15px auto
}

.waxxer-intro {
    margin: 15px auto;
    font-size: 14px
}

.waxxer-body {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0 60px 0;
}

.container {
    max-width: 1000px;
}

.waxxer-icon {
    height: 50px;
    width: 50px
}

.github-icon {
    height: 55px;
    width: 65px
}

.button-div {
    margin-top: 25px
}

.waxxer-form {
    /* max-width: 700px !important */
    margin: 0 auto
}

.flex-form {
    /* display: flex; */
}

.wrapper img {
    width: 100%;
    bottom: 0;
    position: absolute;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    -moz-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -99999;
}

.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
    width: 100%
    /* the bottom margin is the negative value of the footer's height */
}

.skiMoraleDiv {
    /* border: 1px solid #aaa; */
    /* padding: 5px; */
    /* margin: 15px auto; */
    background-color: #fff
}

.footer,
.push {
    height: 142px;
    /* .push must be the same height as .footer */
}

.github-fork-ribbon:before {
    background-color: #007bff !important;
}

.hideUnderConstruction {
    display: none;
}

.zipcode {
    width: 150px
}

.tempsFandC {
    display: flex;
}

.span-div {
    margin: 15px 0;
}

.scale-span {
    font-size: 14px
}

.wax-color {
    font-size: 14px;
    display: flex;
    padding: 5px;
}

.wax-color b {
    font-size: 18px;
    padding: 5px;
    /* margin: 15px 0; */
    border: 1px solid #000;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* line-height: 45px; */
}

.wax-comments {
    margin: 15px 0
}

.wax-waterskis {
    color: #0000FF;
    border: 1px solid #0000FF;
    padding: 5px;
}

.wax-red {
    color: red;
    border: 1px solid red;
    padding: 5px;
}

.wax-violet {
    color: #a200ff;
    border: 1px solid #a200ff;
    padding: 5px;
}

.wax-blue {
    color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: 5px;
}

.wax-green {
    color: forestgreen;
    border: 1px solid forestgreen;
    padding: 5px;
}

.wax-polar {
    color: darkslategrey;
    border: 1px solid darkslategrey;
    padding: 5px;
}

.wax-color-waterskis {
    padding: 5px;
}

.wax-color-violet {
    padding: 5px;
}

.wax-color-red {
    padding: 5px;
}

.wax-color-blue {
    padding: 5px;
}

.wax-color-green {
    padding: 5px;
}

.wax-color-polar {
    padding: 5px;
}

.wax-color-waterskis b {
    background-color: #0000FF;
    padding: 5px;
}

.wax-color-violet b {
    background-color: #a200ff;
    padding: 5px;
}

.wax-color-red b {
    background-color: orangered;
    padding: 5px;
}

.wax-color-blue b {
    background-color: dodgerblue;
    padding: 5px;
}

.wax-color-green b {
    background-color: forestgreen;
    padding: 5px;
}

.wax-color-polar b {
    background-color: darkslategrey;
    padding: 5px;
}

.btn {
    background-color: #3bb8ff;
    border: 1px solid #3bb8ff;
    color: #000;
    width: 200px;
    margin: 15px 0;
}

.btn,
#zipcode {
    width: 200px;
    margin: 15px 0;
    height: 45px
}

.waxxer-hr {
    margin: 30px 0
}


/* AERIS API CHALLENGE CSS */

#conditions {
    font-family: Roboto, sans-serif;
    margin: 15px auto;
    width: 100%
}

#conditions p {
    margin: 0
}

#conditions .cols {
    display: flex;
    flex-direction: column
}

#conditions .details .row {
    display: flex
}

#conditions .cols>div {
    margin: 0 5px
}

#conditions .temp,
.tempC {
    font-size: 30px;
    margin: 0 5px
}

#conditions .temp span,
.tempC span {
    font-size: 30px;
    font-weight: 400;
    padding-left: 6px
}

#conditions .details {
    font-size: 14px
}

#conditions .details .row>div {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 5px;
    width: 100px
}

#conditions .details .row {
    margin: 6px 0;
    border-bottom: 1px solid #999
}

#conditions .details .row div:last-child {
    font-size: 16px
}

#conditions .timestamp {
    color: #000;
    font-size: 14px;
    margin-bottom: 8px
}

#conditions .wx {
    font-size: 16px
}

#obs .icon {
    margin: 0 20px;
    width: 100px;
    height: 100px
}

#obs .wx {
    border-top: 2px solid #ddd;
    font-size: 18px;
    margin-top: 8px;
    padding-top: 10px;
    width: 150px
}

#forecast {
    color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Roboto, sans-serif;
    margin: 10px auto
}

#forecast p {
    margin: 0
}

#forecast .card {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 5px
}

#forecast .card-body {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center
}

#forecast .card .title {
    font-size: 14px
}

#forecast .card .icon {
    margin: 10px 0 5px;
    width: 60px;
    height: 60px
}

#forecast .card .wx {
    font-size: 12px
}

#forecast .card .temps {
    font-size: 14px;
    margin-top: 20px
}

#forecast .card .temps span {
    font-size: 14px;
    padding-right: 5px
}

@media only screen and (max-width: 600px) {
    #forecast {
        color: #222;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-family: Roboto, sans-serif;
        margin: 10px auto
    }
}