extends layout

block content
  div(class="container")
    h1= title

    div
      p Welcome to Waxxer, a helpful calculator for the nordic skier who's wondering to pick the right ski wax while considering variables like temperature, humidity, and snow type.

    div(class="get-weather-form row g-3 align-items-center")
      form(action='/weather', method='POST')
        p(class="form-label" )
          | Query the weather:
          input(type='text', name='placename', placeholder='Enter city & state (e.g., Mora, MN)', class="form-control")
        input(type='submit', class="btn btn-success" value='Get ze Weather!')
