 <nav class="navbar navbar-dark bg-dark">
     <div class="container-fluid">
         <a class="navbar-brand" href="#">
             <img src="assets/images/xc_skiing_icon.png" alt="" class="d-inline-block align-text-top" style="max-width:35px;">
             Waxxer
         </a>
     </div>
 </nav>
